.AnswerItem {
	border: 1px solid rgb(93, 155, 248);
	border-radius: 5px;
	padding: 5px 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.AnswerItem:hover {
	background: rgb(47, 88, 223);
	transition: background .3s ease-in-out;
}

.success {
	background: green;
	border: 1px solid rgb(93, 155, 248);
	border-radius: 5px;
	padding: 5px 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.error {
	background: red;
	border: 1px solid rgb(93, 155, 248);
	border-radius: 5px;
	padding: 5px 10px;
	margin-bottom: 10px;
	cursor: pointer;
}